$primaryColor: rgb(0, 0, 0);
$primaryColorAlpha: rgba(82, 82, 82, 0.7);
$primaryColorBackground: rgba(112, 112, 112, 0.2);
$secondaryColor: rgb(51, 190, 255);
$secondaryColorBackground: rgba(51, 190, 255, 0.04);
$thirdColor: rgb(51, 88, 255);
$thirdColorAlpha: rgba(51, 88, 255, 0.5);
$thirdColorBackground: rgba(51, 88, 255, 0.04);